/* variables */
:root{
    --primary: #77437F;
    --secondary: #F0F7AA;
    @import url('@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Noto+Sans&family=Poppins:wght@200;300;400;500;600;700&family=Rubik&display=swap');');
}
/* reset */
body,p,a,ul,li{
margin: 0;
padding: 0;
text-decoration: none;
}
li{
 list-style-type: none;
}

/* base styles */
body{
background: var(--primary);
font-family: 'Lexend Peta', sans-serif;
}

/* fonts */

h1,h2,h3,h4{
color: #dddbff;
font-weight: normal;
}
p,a,li{
color: #9893d8;
}
h1,h3{
font-size: 1.2em;
}
h2{
font-size: 1.6em;
}
h4{
font-size: 1.1em;
}

/* mobile style */
/* stranica podijeljena u 10 kolona */
.headerWrapper {
    background-image: url(./images/working.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;

}

.containerWrapper {
    background: white;
    border-radius: 2.5rem;
    
}

.gridHeader {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    align-items: center;
    padding: 1rem;
    
}

/* header */
span {
    color: #77437F;
    
}

.logoWrapper {
    grid-column: 2/2;
    display: flex;
    
}

.hamWrapper {
    grid-column: 9/10;
    width: 2rem;
    height: 2rem;
    
}

.hamburgerBtn {
    background: none;
    border: none;
    cursor: pointer;
}

.logoTxt{
    color: black;
    font-size: 1.75rem;

}
.logo {
    width: 2rem;
}

#menuBlack,
#closeBlack,
.logo,
.logoTxt,
a,
.dropDown{
    transition: all .5s ease;
}

.x #menuBlack{
    transform: translateY(100%);

}

.x .logo,
.x .logoTxt {
    transform: translateY(-300%);
}


.o #closeBlack {
    transform: translateY(200%);
}

.dropDown {
    font-size: 1.25rem;
    line-height: 2;
    transform: translateY(-1000%); 
    
}

.headerLinks {
    grid-column: 4/8;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.headerLinks a {
    color: black;
    transform: translateY(-800%);
}

.header {
    background: white;
    
}



.x .headerLinks a {
    color: white;
    transform: translateY(0%);
}

.x .header {
    background: var(--primary);
    
}

.x .dropDown {
    background: var(--primary);
    border-radius:0 0 2rem 2rem;
    transform: translateY(0%);
    
}

.x .headerLinks a:hover {
    color: #F0F7AA;
    transition: color 300ms ease-in-out;
}

.headerNav {
    grid-column: 4/8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.headerNav a{
    font-size: 1.25rem;
    color: black;
}

.headerNav a:hover {
    color: var(--primary);
    transition: color 2ms ease;
}
.footer {
    background: white;
    border-radius: 2.5rem;
}

/* Search */
.search {
    display: grid;
    justify-content: center;
}

.searchFilter {
    color: white;
}

.searchBar {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.searchInput {
    width: 20rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    outline: none;
    border: none;
    text-align: center;
    font-size: 1.6rem;
}

.filters {
    display: flex;
    justify-content: center;
    background: white;
    border-radius: 2.5rem;
    height: 2.5rem;
    align-items: center;
    font-weight: 600;
    gap: .75rem;
    
}
.filters i {
    font-style: normal;
}

input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    width: 12px;
    height: 12px;

    border: 1px solid black;
    transition: 0.2s all linear;

    
}

input:checked {
    border: 6px solid var(--primary);
  }

.jobList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.jobListItem {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    margin: 2rem;
    padding: 2rem;
    gap: .5rem;
    background: var(--secondary);
    border-radius: 2rem;
}

.jobListItem:nth-child(1) {
    display: flex;
}
.jobListItem:nth-child(2) {
    display: flex;
}
.jobListItem:nth-child(3) {
    display: flex;
}
.jobListItem:nth-child(4) {
    display: flex;
}

.jobName {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 600;
    color: black;
}


.companyName {
    margin: 0;
    font-size: 1.6rem;
    color: black;
}

.jobInfo {
    color: rgba(0, 0, 0, 0.74);
}
.loadmoreContainer{
    display: flex;
    justify-content: center;
}
.loadmore {
    background: white;
    border-radius: 2.5rem;
    height: 2.5rem;
    width: 7rem;
    font-weight: 600;
    gap: 1rem;
    margin-bottom: 1rem;
    border: none;
  
}
@media screen and (max-width: 35rem) {
    .headerNav{
        display: none;
    }
    .footer{
        display: none;
    }
    .loadmore{
        margin-top: 1rem;
    }
   
}

@media screen and (min-width: 64rem) {
    .hamWrapper{
        display: none;
    }

    .jobList {
        grid-template-columns: repeat(2, 1fr);
    }

    .headerWrapper {
        background: white;
    
    }

    .search{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .filters {
        width: 20rem;
    }
}