/* variables */
:root{
    --primary: #77437F;
    --secondary: #F0F7AA;
    @import url('@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Noto+Sans&family=Poppins:wght@200;300;400;500;600;700&family=Rubik&display=swap');');
}
/* reset */
body,p,a,ul,li{
margin: 0;
padding: 0;
text-decoration: none;
}
li{
 list-style-type: none;
}

/* base styles */
body{
background: var(--primary);
font-family: 'Lexend Peta', sans-serif;
}

/* fonts */

h1,h2,h3,h4{
color: #dddbff;
font-weight: normal;
}
p,a,li{
color: #9893d8;
}
h1,h3{
font-size: 1.2em;
}
h2{
font-size: 1.6em;
}
h4{
font-size: 1.1em;
}

/* mobile style */
/* stranica podijeljena u 10 kolona */
.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
}

/* header */



/* slider  */


/* top rated */
  .toprated{
      width: 100%;
      height: fit-content;
      display: grid;
      background-color: var(--secondary);
      border-radius: 30px 30px 30px 30px;
      grid-gap:10px;


  }
  .toprated .col{
      width:100%;
      height:40%;
     display:grid;
     grid-template-columns: 1fr 2fr;
    grid-gap:10%;
     
  }

  .toprated .col  img{
      height:10rem;
      width: 10rem;
      border-radius: 30% 30% 30% 30%;
      margin-top: 20%;
      margin-bottom: 20%;
      margin-left:10%;
      float: left;
  }
  
  .toprated .col .content{
      margin-right: 20%;
      text-align: left;
      margin-top: 10%;
  }
 
  
 

  @media screen and (min-width: 64em) {
      .toprated{
          width:100%;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
      }
  }
/* sidebar */


/* footer */

