/* variables */
:root{
    --primary: #77437F;
    --secondary: #F0F7AA;
    @import url('@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Noto+Sans&family=Poppins:wght@200;300;400;500;600;700&family=Rubik&display=swap');');
}
/* reset */
body,p,a,ul,li{
margin: 0;
padding: 0;
text-decoration: none;
}
li{
 list-style-type: none;
}

/* base styles */
body{
background: var(--primary);
font-family: 'Lexend Peta', sans-serif;
}

/* fonts */

h1,h2,h3,h4{
color: #dddbff;
font-weight: normal;
}
p,a,li{
color: #9893d8;
}
h1,h3{
font-size: 1.2em;
}
h2{
font-size: 1.6em;
}
h4{
font-size: 1.1em;
}

/* mobile style */
/* stranica podijeljena u 10 kolona */
.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
}

/* header */



/* slider  */


/* top rated */
  .toprated{
      width: 100%;
      height: fit-content;
      display: grid;
      background-color: var(--secondary);
      border-radius: 30px 30px 30px 30px;
      grid-gap:10px;
      
     


  }
   .col{
      width:100%;
      height:40%;
      display: none;
     
    
  
  }
  
  .col:nth-child(1){
      display: block;
  }
  
  .col:nth-child(2){
    display: block;
}
.col:nth-child(3){
    display: block;
}




  .toprated .col  img{
      height:10rem;
      max-width: 100%;
      border-radius: 30% 30% 30% 30%;
      margin-top: 10%;
      margin-bottom: 10%;
      margin-left: 5%;
      margin-right:5%;
      float: left;
    
  }
 
  .toprated .col .content{
    margin-right:10%;   
    margin-left: 10%;
      padding-left: 10%;
        text-align: left;
        margin-top: 10%;
        margin-bottom: 10%;
      
      
  }

  .col::after{
    content: " ";
    clear: both;
    display: table;
  }
  .btn{
      background: var(--primary);
      border:none;
      font-size: 1rem;
      color:#dddbff ;
      
      margin-bottom: 20%;
      border-radius:12px;
      width:10rem;
      height:3rem;
    margin-left: 10%;
    
      cursor: pointer;
      
  }
  .btn:hover {background-color: rgb(185, 126, 233)}

.btn:active {
  background-color: rgb(185, 126, 233);
  box-shadow: 0 5px var(--primary);
  transform: translateY(4px);
}

 
  .Title{
      color:black;
  }
  .about{
      color:black;
  }
  .company{
      color:black;
  }

  @media screen and (min-width: 64em) {
      .toprated{
          width:100vws;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          
      }
     
  }
  /*modal*/
.modal-bg{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height:100vh;
    background-color: rgba(0,0,0,0.5);
    display:flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;





}
.modal-close{
    position:absolute;
    top:10px;
    right:10px;
    font-weight: bold;
    cursor: pointer;
}
.bg-active{
    visibility: visible;
    opacity:1;

}
.modal{
    background-color: var(--secondary);
    width: 50%;
    height:70%;
    display:flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: column;
    position: relative;



}
.modal-bg img{
    
    height:10rem;
   
    border-radius: 30% 30% 30% 30%;
    

}

/* sidebar */


/* footer */

